@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: linear-gradient(-90deg, rgb(184,130,221),#5c4998);
    font-family: 'Roboto', sans-serif;
    
}

header {
    background: rgba(51, 51, 51, 0.8);
}
.links {
    color: white;
    padding: 10px;
     
 }
 
 .links img {
     width: 200px;
     margin-left: 20px;
     margin-right: 200px;
     color: white;
 }
 
 .links a {
     color: white;
     align-items: center;
     margin: 25px;
     font-size: 20px;
     line-height: 30px;
     font-weight: bold;
     text-decoration: none;
 }
 .links a:hover {
     color: rgb(207, 0, 253);
     transition: 300ms;
}

.content {
    position: relative;
    margin: auto;
    margin-top: 70px;
    padding: 20px;
    width: 1200px;
    text-align: center;
    background-color: rgba(251, 248, 251, 0.823);
    border-radius: 20px;
}

.content h1 {
    color:  #5c0784;
    font-size: 30px;
    margin: 20px;
}

.content img {
    width: 200px;
    border-radius: 30px;
    margin-top: 30px;
    margin-right: 300px;
}

.content h2 {
    color: #4b01ca;
    font-size: 25px;
    font-weight: 700;
    padding-top: 8px;
    margin-top: -200px;
    margin-left: 300px;
    padding-bottom: 10px;
    
}

ul { 
    color: #333;
    margin-bottom: 90px;
    margin-left: 300px;
}

ul {list-style: none}

li {
    margin: 10px;
    font-size: 20px;
    font-weight:bold;
}

li::before { content:".", color red}

li::before {content: "•"; color: red;
    display: inline-block; width: 1em;
    margin-left: -1em}

.footer {
    text-align: center;
    margin: 40px;
    font-weight: 700;
}

.footer a {
    color:white;
    text-decoration: none;
    margin: 20px
}

.footer a:hover {
    color: rgb(207, 0, 253);
    transition: 200ms;
}