* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: linear-gradient(-90deg, rgb(184,130,221),#5c4998);
    font-family: 'Roboto', sans-serif;
}

header {
    background: rgba(51, 51, 51, 0.796);
    padding: 15px;
    
}

.links {
   color: white;
   margin-top: -20px;
    
}

.links img {
    width: 200px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 200px;
    color: white;
}

.links a {
    color: white;
    align-items: center;
    margin: 25px;
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
    text-decoration: none;
}
.links a:hover {
    color: rgb(207, 0, 253);
    transition: 300ms;
}

#title h1{
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
}

/* === CARDS ===*/

.cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

.card {
    background-color: #333;
    padding: 30px;
    border-radius: 10px;
}
.card:hover {
    transform: scale(1.05);
    transition: 200ms;
    background-image: repeating-linear-gradient(rgb(41, 39, 39),rgb(66, 63, 63));
}
.card-image-container {
    width: 100%;
    height: 280px;
    text-align: center;
    margin-top: 20px;
}

.card-content,
.card-info {
    padding: 24px;
    color: white;
    text-align: center;
}

.card-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card-price {
    background-color: #7159c1;
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
}

/* === MODAL === */

.modal-overlay {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal {
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

/* === MODAL.ACTIVE === */

.modal-overlay.active {
    opacity: 1;
    visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    top: 5%;
}